.Itemcontainer{
    display: flex;
    justify-content: center;
}


.ItemListTitle{
    background-color: indigo;
    text-align: center;
    color: whitesmoke; 
    margin: 0px 30px;
    padding: 10px 0px;
}


.textStyle{
    margin: 30px 50px;
    background-color:aqua;
    font-size: x-large;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    display:  flex;
}