
.header, h1{
    background-color: #17202A;
    
    margin: 0;
    
}

.header h1{
    display: flex;
    justify-content: center;
}

.header{
    text-align: center;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}