.buttonStyle{
    width: 130px;
    height: 30px;
    line-height: normal;
    border-radius: 10px;
    background-color: aquamarine;
    color: #2E4053;
    margin: 5px 30px;
    text-align: center;
    box-shadow: none;

}



.buttonStyle:hover{
    color: whitesmoke;
    background-color: #3498DB;
}