.Item{
    background-color:white;
    width: 200px;
    height: 360px;
    border-radius: 10px;
    font-size:small;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px gray;
    color: rgb(9, 41, 59);
}

.brandImage{
    height: 50px;
    width: 100px;
    margin-top: 5px;
}
.productImage{
    width: 150px;
    height: 150px;
    margin-top: 5px;
}


.productDescription, .productPrice, h3{
    margin: 8px 15px;
    margin-bottom: 2px;
    text-align: justify;
    background-color: white;
}
