body{
    background-color: darkgray;
}
.tarjetaDetalle{
    display: flex;
    justify-content: flex-start;
    width: 700px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.imagenProducto{
    display: flex;
    height: 250px;
    width: 250px;
    margin: 20px;
}

.descripcionProducto{
    margin: 20px;
    height: 250px;
}